<!DOCTYPE html>
<html lang="en">

<body>
    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Main</li>

                    <li>
                        <a href="/index" class="waves-effect">
                            <i class="mdi mdi-view-dashboard"></i><span class="badge badge-pill badge-primary float-right"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="/task/TaskList" class="waves-effect">
                            <i class="mdi mdi-format-list-bulleted"></i><span class="badge badge-pill badge-primary float-right"></span>
                            <span>Task List</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>